/*

CSS GOES HERE

*/


.padding {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.title {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;

}

.card {
  padding: 2rem;
  margin: auto;
  width: 1080px;
  max-height: 720px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  /*padding: 100px;*/
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}


ul {
    list-style: none;
    padding: 1rem;
}

.navButton {
  display: inline-block;
  padding: 2rem;
}

.navButton a {
  text-decoration: none;
  color: #000000;
}

.navButton a:hover{
  border-bottom: 0.25rem solid #F84443;
}


a {
	text-decoration: none;
}

section ul {
	text-align: center;
}

section a {
	padding: 7px;
  color: black;
}

section a:not(:first-child) {
	margin-left: 20px;
}

section i {
	vertical-align: middle;
	transition: color .3s ease-in-out;
}

section a:nth-child(1):hover i {
	color: #F84443;
}

section a:nth-child(2):hover i {
	color: #F84443;
}

section a:nth-child(3):hover i {
	color: #F84443;
}

/* Main Button Style  */

.btn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1px;
  background: none;
  border: 1px solid black;
}

.btn:hover {
  border: none;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  color: #FFFFFF;
  background-color: #F84443;
}


/* End Main Button Style */
