/*

CSS GOES HERE

*/

.border {
  border-bottom: 1px solid #ccc;
}

.images {
  float: left;
}

.title {
  display: flex;

}

p {
  text-transform: none;
}

.padding {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.title {
  padding-top: 0rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

.card {
  background-color: #ffffff;
  padding: 2rem;
  margin: auto;
  max-width: 1080px;
  /*max-height: 720px;*/
  min-height: 24rem;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  /*padding: 100px;*/
}

.card h4 {
  padding-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 1rem;
}

.navButton {
  font-size: 21px;
  display: inline-block;
  padding: 2rem;
  color: #505050;
}

.navButton a {
  text-decoration: none;
  color: #505050;
}

a {
	text-decoration: none;
}

section ul {
	text-align: center;
}

section a {
	padding: 7px;
  color: black;
}

section a:not(:first-child) {
	margin-left: 20px;
}

section i {
	vertical-align: middle;
	transition: color .3s ease-in-out;
}

section a:nth-child(1):hover i {
	color: #F84443;
}

section a:nth-child(2):hover i {
	color: #F84443;
}

section a:nth-child(3):hover i {
	color: #F84443;
}

/* Main Button Style  */

.btn {
  color: #505050;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1px;
  background: none;
  border: 1px solid #505050;
  font-size: 12px;
}

.btn:hover {
  border: none;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  color: #FFFFFF;
  background-color: #F84443;
}

.resume {
  padding-top: 5rem;
}

/* End Main Button Style */

p {
  font-size: 12px;
}

/* Responsive */



.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}

@media (max-width: 1080px) {
  .flex-grid {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

@media (max-width: 9000px) {
  .Mobile{
    display: none;
  }
}

@media (max-width: 480px) {
  .flex-grid {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
  .card {
    padding: 0;
  }

  .resume {
    display: none;
  }

  .Mobile {
    display: inline;
  }

  .nonMobile {
    display: none;
  }

  .title {
    padding: inherit;
    padding-top: 1rem;
  }

}

* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}
.flex-grid {
  margin: 0 0 20px 0;
}
.col {
  padding: 20px;
}

.footerBake {
  text-transform: uppercase;
}
