body {
  margin: 0;
  padding: 0;
  font: 'Roboto', Helvetica, Arial, sans-serif;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  background-color: #f5f5f5;
}
